.main{
    /*width: 73%;*/
    width: 700px;
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
    text-align: left;
    margin-top: -7px;
}
.main__wrapper{
    font-size: 0;
    text-align: right;
}
.main__photo {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 11px 60px 0 40px;
}
.main__photo img {
    width: 100%;
    display: inline-block;
}
.main__info{
    display: inline-block;
    width: 380px;
    font-size: 18px;
    text-align: left;
}
.info__title{
    font-weight:500;
    font-size: 35px;
    margin: 2px 0 12px;
}
.info__text{
    height: 319px;
    margin-bottom: 58px;
    overflow-y: scroll;
    line-height: 26px;


}
.info__text p{
    margin: 0 0 5px;
}
.main__button{
    text-align: right;
}
.main__button a{
    color: #e85f61;
    font-size: 14px;
    border: 2px solid #e85f61;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
    padding: 7px 12px 10px 14px;
    transition: background .7s, color .4s;
    display: inline-block;
    font-family: 'open_sansbold',sans-serif;
}
.main__button a:hover{
    background-color: #e85f61;
    color: #fff;
}

.main__button a i {
    margin-right: 8px;
}