
.career-info .main__wrapper{
    text-align: left;
}


.career-info .main__photo{
border-radius: 9px;
}
.career-info .main__photo img{
    height: 100%;
    width:auto;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.career-info .main__photo_wrapper{
    margin: 0;
}
.career__list{
    margin: 0;
    padding: 0;
    width: 380px;
    display: inline-block;

}
.career__title{
    font-size: 35px;
    line-height: 38px;
    font-weight: 500;
    margin: 6px 0 16px;
}
.career{
    font-size: 18px;
    width: 60%;
    display: inline-block;
    text-align: right;
}
.career-info{
    
}
.career__item{
   list-style: none;
    width: 380px;
    background: #ffffff;
    text-align: left;
    padding: 15px;
    border-radius: 9px;
    margin-bottom: 20px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position: relative;


}

.career__item:hover{
    color: #ffffff;
    background-color: #4dc8e6;
}
.career__item:hover .career__job{
    color: #ffffff;

}


.career__job{
    font-size: 21px;
    color: #5a5a5a;
    margin: 0 0 5px;
    font-weight: 500;
}
.career__position{
    font-size: 18px;
    font-weight: 300;
}
.career_year{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -62px;
    margin: auto;
    height: 15px;
    font-size: 14px;
}
.career_year::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #33c1e3;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: -25px;
    border: 5px solid #f6f6f6;
}
.career__item:hover .career_year::after{
    border-color: #94e0f2;
}
.career__item::before,.career__item::after{
    content: '';
    height: 50%;
    width: 1px;
    background: #dddddd;
    position: absolute;
    left: -20px;

}
.career__item::before{
    top:-7px;

}
.career__item::after{
    bottom: -13px;

}
.career__item:hover .career_year{
    color: #33c1e3;
    font-weight: bold;
}
.career__item:first-child::before{
     content: none;
 }
.career__item:last-child::after{
    content: none;
}