
.career-info .main__wrapper{
    text-align: left;
}
.main__photo-career{
    margin-left: 0;
    border-radius: 9px;
}
.career-info .main__photo img{
    height: 100%;
    width:auto;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.career__list{
    margin: 0;
    padding: 0;
    width: 380px;
    display: inline-block;

}
.career__title{
    font-size: 35px;
    line-height: 38px;
    font-weight: 500;
    margin: 9px 0 13px;

}
.career{
    font-size: 18px;
    width: 60%;
    display: inline-block;
    text-align: right;
    margin-top: 11px;
}
.career-info{
    
}
.career__item{
   list-style: none;
    width: 380px;
    line-height: 26px;
    background: #ffffff;
    text-align: left;
    padding: 18px 18px 11px 18px;
    border-radius: 9px;
    margin-bottom: 20px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position: relative;


}

.career__item:hover{
    color: #ffffff;
    background-color: #4dc8e6;
}
.career__item:hover .career__job{
    color: #ffffff;

}


.career__job{
    font-size: 21px;
    color: #5a5a5a;
    margin: 0;
    font-weight: 500;
}
.career__position{
    font-size: 18px;
    font-weight: 300;
}
.career_year{
    width: 38px;
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -74px;
    margin: auto;
    font-size: 14px;
    
}
.career_year::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #33c1e3;
    display: block;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    border: 5px solid #f6f6f6;
    bottom: 0;
    top: 0;
    margin: auto;
}
.career__item:hover .career_year::after{
    border-color: #94e0f2;
}
.career__item::before,.career__item::after{
    content: '';
    height: 50%;
    width: 1px;
    background: #dddddd;
    position: absolute;
    left: -22px;

}
.career__item::before{
    top:-10px;

}
.career__item::after{
    bottom: -10px;

}
.career__item:hover .career_year{
    color: #33c1e3;
    font-weight: bold;
    font-size: 18px;

}
.career__item:first-child::before{
     content: none;
 }
.career__item:last-child::after{
    content: none;
}